name: Release Creation

on:
  release:
    types: [published]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # get part of the tag after the `v`
      - name: Extract tag version number
        id: get-version
        run: echo "version-without-v=${GITHUB_REF_NAME#v}" >> "$GITHUB_OUTPUT"

      - name: Get Module JSON
        id: set_var
        run: |
          echo "PACKAGE_JSON=$(jq -c . < module.json)" >> $GITHUB_OUTPUT
          
      - name: Get Module Title
        id: title
        run: echo "title=${{ fromJson(steps.set_var.outputs.PACKAGE_JSON).title }}" >> "$GITHUB_OUTPUT"

      # Substitute the Manifest and Download URLs in the `module.json`.
      - name: Substitute Manifest and Download Links For Versioned Ones
        id: sub_manifest_link_version
        uses: devops-actions/variable-substitution@v1.2
        with:
          files: module.json
        env:
          version: ${{ steps.get-version.outputs.version-without-v }}
          manifest: https://github.com/${{github.repository }}/releases/latest/download/module.json
          download: https://github.com/${{github.repository }}/releases/download/${{github.event.release.tag_name}}/module.zip

      - name: Create Zip
        run: zip -r9 ./module.zip . -x '*.git*'

      - name: Update Release with Files
        id: create_version_release
        uses: ncipollo/release-action@v1.16.0
        with:
          allowUpdates: true # Set this to false if you want to prevent updating existing releases
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          omitDraftDuringUpdate: true
          omitPrereleaseDuringUpdate: true
          artifacts: './module.json, ./module.zip'

      # Publish to FoundryVTT
      #- name: Publish FoundryVTT Package
      #  if: ${{!github.event.release.prerelease}}
      #  uses: cs96and/FoundryVTT-release-package@v1.0.2
      #  with:
      #    package-token: ${{ secrets.PACKAGE_TOKEN }}
      #    manifest-url: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/module.json